body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: hsl(240, 78%, 98%);
}
/* For svgs */

.bottom-left-svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.top-right-svg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


/* Styles for title & toggle planswitch */
.title-planSwitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22vh;
}


/* Styles for plan cards */
.subscription-plans {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


/* Styles for cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 60vh;
    padding: 0 2vw;
    font-size: 1.2em;
    border-radius: 0.9em;
    background: white;
    border: 1.5px solid whitesmoke;
}


/* for dollar sign */
.dollar {
    font-size: 1.85em;
}

/* For money */
.money {
    font-size: 1.8em;
}

/* For horintal lines */ 
hr {
    width: 90%;
    opacity: 0.4;
}

/* For toggle switch title */
.type {
    font-size: 1.1em;
}


/* for learn more button */
.learn-more {
    padding: 1em 6em;
    border-radius: 0.5em;
    background-color: white;
    margin: 2em 0;
    width: 90%;
    color: white;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: 1px solid hsl(237, 63%, 64%);
}



/* For professional plan */
.professional-plan {
    height: 65vh;
    color: white;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.professional-plan > .learn-more {
    color:hsl(237, 63%, 64%);
    background: whitesmoke;
    border: 2px solid whitesmoke;
}


/* Adjust dollar height */
.money {
    position: relative;
    font-size: 4rem;
    margin-left: 0.1em;
    top: 0.2em;
}

/* Adjusting the space for the title of the plan */
.title {
    padding-top: -100px;
    padding-bottom: -200px;
    margin-bottom: -0.8em;
    margin-top: -1.em;
}

/* Chhanges to the dollar symbol */

.dollar {
    font-size: 2.1em;
}

/* toggle Switch  */

.switch {
    position: relative;
    top: 7px;
    display: inline-block;
    width: 40px;
    height: 22px;
    background-color: #eee;
    border-radius: 20px;
    margin: 0 15px;
    border: 1px solid rgba(8, 143, 233, 0.829);
    background-color: #7983ff; 
}

/* creating a round button inside the switch */
.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    transition: all 0.5s;
}

    /* To move the round button to move fwd when the checkbox is selected */
    .checkbox:checked + .switch::after { 
        left: 20px;
    } 
    
    /* To change the background-color of a switch when the checkbox is checked. */
    .checkbox:checked + .switch { 
        background-color: #7983ff; 
    } 

    
    /* Hidden the check-box */
    .checkbox {
        display: none;
    }
    
    .hide {
        display: none;
    }


    /* Hover on button change cursor */
    .learn-more:hover {
        cursor:grab;
    }


    /* Background color button */
    #colorButton {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: linear-gradient(to right, #3c2dc8, #fff); 
        border: 1px solid #333; 
        border-radius: 5px; 
        color: #333; 
      }

    /* responsive designs */

    
    
        /* Add a media query for mobile devices */
        @media (max-width: 375px)  {

            .subscription-plans {
                width: 100vw;
                height: auto;
                display: flex;
                flex-direction: column;
            }

            .card {
                width: 80vw;
                height: 65vh;
                margin: 1em;
            }

            .title {
                font-size: 1.3em;
            }
            
            .learn-more {
                margin-bottom: 3em;
            }

            .top-right-svg {
                max-width: 300px;
                right: -11.5em;
                top: -2em;
            }

            .bottom-left-svg {
               display: none;
            }

            #colorButton {
                width: 50vw;
            }
        }